
    <!-- Left Panel -->
    {{> "dashboard/componentes/aside" }}
    <!-- /#left-panel -->

    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">

        <!-- Header-->
        {{> "dashboard/componentes/header" }}
        <!-- /#header -->

        
        <!-- Content -->
        <div class="breadcrumbs">



            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>Apartamentos</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
 

        <div class="content">

            {{#each propiedadesConImagenesYPropietario}}
                <div id="gallery" style="display: flex; overflow-x: auto; white-space: nowrap; transition: transform 1s ease-in-out;">

                <!-- Propiedad 1 -->
                <div style="flex: 0 0 100%; box-sizing: border-box; padding: 20px; text-align: center;">
                    <h2>{{descripcion}}</h2>
                    <p>{{detalles}}</p>
                    <p>{{id}}</p>
                    {{#each fotos}}
                          
                    {{#each rutas}}
                        <div class="item">
                            <img src="/images/uploads/propiedades/original/{{this}}" alt="Imagen {{@index}}">
                        </div>
                    {{/each}}
                        
                    {{/each}}
                    <!-- Repite para las imágenes restantes -->
                </div>

                <!-- Repite para las propiedades adicionales -->
            </div>
            {{/each}}

            


            <script>
            const gallery = document.getElementById('gallery');
            const slides = document.querySelectorAll('#gallery > div');

            let currentSlide = 0;

            function moveGallery() {
                currentSlide = (currentSlide + 1) % slides.length;
                const translateValue = -currentSlide * 100;
                gallery.style.transform = `translateX(${translateValue}%)`;
            }

            setInterval(moveGallery, 3000); // Cambiar de propiedad cada 3 segundos
            </script>

        </div>

        <div class="clearfix"></div>
        

        <!-- /.content -->

        {{> "dashboard/componentes/footer" }}

    </div>



{{> "dashboard/componentes/scripts" }}

{{> "dashboard/componentes/scripts_socket" }}