
    <!-- Left Panel -->
    {{> "dashboard/componentes/aside" }}
    <!-- /#left-panel -->

    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">

        <!-- Header-->
        {{> "dashboard/componentes/header" }}
        <!-- /#header -->

        <div class="modal fade" id="staticModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticModalLabel">Correos electronicos recibidos</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">X</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                              
                           </p>
                       </div>
                       <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <form style="display: inline;" action="" method="post">
                            <button type="submit" class="btn btn-primary">Aceptar</a>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Content -->
        <div class="breadcrumbs">

            {{#if usuarioEliminado}}
            <div style="text-align: center;" id="success-alertt" class="alert alert-success" role="alert">
            {{usuarioEliminado}}
            </div>

            <script>
                console.log("fuera del script")
                document.addEventListener("DOMContentLoaded", function() {
                        // Seleccionar el elemento del alerta
                        var successAlert = document.getElementById("success-alertt");
            
                        // Esperar 3000 milisegundos (3 segundos) y luego ocultar el alerta
                        setTimeout(function() {
                            
                           
                            if (successAlert) {
                               
                                successAlert.style.display = "none";
                            }
                        }, 2000);
                    });
            </script>
            {{/if}}        


            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>Lista de correos recibidos</h1>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <br>
 

        <div class="content">
            <div class="animated fadeIn">
                <div class="row">

                        {{#if Correos_}}
                            {{#each Correos_}}
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-header">
                                            <strong class="card-title">{{nombre}}</strong>
                                            <span class="badge badge-success float-right mt-1">{{formatDate createdAt}}</span>
                                            
                                        </div>
                                        <div class="card-header">
                                            <strong class="card-title">Telefono: {{telefono}}</strong>
                                           
                                        </div>
                                        <div class="card-subtitle ml-4 mt-3">
                                            <strong style="font-size: 15px;" class="card-title">Asunto:</strong>
                                            <small class="text-muted" style="color: #333;">{{asunto}}</small>     
                                        </div>
                                        <hr>
                                        <div class="card-body">
                                            <p class="card-text">{{mensaje}}</p>
                                        </div>
                                        <div class="card-header text-right">
                                            <form action="/admin-ibizapropiedades-dashboard/correos/{{id}}" method="get">
                                            <a  onclick="editarModal('{{id}}')" data-toggle="modal" data-target="#staticModal" href="" style="background-color: red;"class="btn btn-danger btn-sm">Eliminar correo</a>
                                                
                                            </form>
                                            
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        {{else}}

                        {{/if}}



                </div><!-- .row -->
            </div><!-- .animated -->
        </div>

        <div class="clearfix"></div>
 

{{> "dashboard/componentes/scripts" }}

<script>
    // Función que se ejecuta cuando el modal se muestra
    function editarModal(id) {
        // Obtener el enlace "Aceptar"
        var btnAceptar = document.querySelector("#staticModal .modal-footer a.btn-primary");
        

        // Verificar si el enlace "Aceptar" existe
        if (btnAceptar) {
            // Cambiar la dirección (href) del enlace "Aceptar"
            btnAceptar.href = `/admin-ibizapropiedades-dashboard/correos/${id}`;
        }

        // Cambiar el contenido del modal
        var modalBody = document.querySelector("#staticModal .modal-body p");

        // Verificar si el elemento del modal existe
        if (modalBody) {
            modalBody.innerHTML = `
                            <p>
                               Estás a punto de eliminar el correo numero <span style="color: red; text-transform: uppercase;">${id}</span>. Esta acción es irreversible y eliminará todos los datos asociados a su cuenta. Por favor, asegúrate de que realmente deseas proceder con la eliminación.
                            </p>
            `;
        }

                // Obtener el formulario dentro del modal
        var form = document.querySelector("#staticModal form");

        // Verificar si el enlace "Aceptar" y el formulario existen
        if (form) {
            // Cambiar el action del formulario
            form.action = `/admin-ibizapropiedades-dashboard/correos/${id}`;
        }
    }

    // Escuchar el evento 'shown.bs.modal' del modal
    document.getElementById("staticModal").addEventListener("shown.bs.modal", function() {
        // Puedes llamar a la función editarModal con los parámetros deseados aquí si es necesario
    });
</script>

{{> "dashboard/componentes/scripts_socket" }}