<div class="site-loader"></div>
  
<div class="site-wrap">

    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->

    <div class="site-navbar mt-4">
        <div class="container py-1">
            <div class="row align-items-center">
                <div class="col-8 col-md-8 col-lg-4">
                    <h1 class="mb-0">
                        <a href="/" class="text-white h2 mb-0">
                            <img style="display: inline; margin-right: 10px; margin-top: -27px;" src="/images/Icono/ibiza-incono.png" width="45" height="50">
                            <strong style="font-size: 28px;" class="text-amarillo">IBIZA PROPIEDADES</strong>
                        </a>
                    </h1>
                </div>

                <div class="col-4 col-md-4 col-lg-8">
                    <nav class="site-navigation text-right text-md-right" role="navigation">

                        <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3">
                            <a href="#" class="site-menu-toggle js-menu-toggle text-white">
                                <span style="color: #F3AA08;" class="icon-menu h3"></span>
                            </a>
                        </div>

                        <ul class="site-menu js-clone-nav d-none d-lg-block">
                            <li>
                                <a class="text-amarillo" href="/">{{ t.menu.inicio }}</a>
                            </li>
                            <li class="has-children active">
                                <a>{{ t.menu.venda_su_propiedad }}</a>
                                <ul class="dropdown arrow-top">
                                    <li><a href="/venda-su-propiedad">{{ t.menu.valorar_una_propiedad }}</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a>{{ t.menu.comprar }}</a>
                                <ul class="dropdown arrow-top">
                                    <li><a href="/comprar/apartamento">{{ t.menu.apartamento }}</a></li>
                                    <li><a href="/comprar/casa">{{ t.menu.casa }}</a></li>
                                    <li><a href="/comprar/terreno">{{ t.menu.terreno }}</a></li>
                                    <li><a href="/comprar/local-comercial">{{ t.menu.local_comercial }}</a></li>
                                    <li><a href="/comprar/oficina">{{ t.menu.oficina }}</a></li>
                                    <li><a href="/comprar/edificio">{{ t.menu.edificio }}</a></li>
                                    <li><a href="/comprar/penthouses">Penthouses</a></li>
                                    <li><a href="/comprar/townhouses">Townhouses</a></li>
                                    <li><a href="/comprar/galpones">Galpones</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a>{{ t.menu.alquilar }}</a>
                                <ul class="dropdown arrow-top">
                                    <li><a href="/alquilar/apartamento">{{ t.menu.apartamento }}</a></li>
                                    <li><a href="/alquilar/casa">{{ t.menu.casa }}</a></li>
                                    <li><a href="/alquilar/terreno">{{ t.menu.terreno }}</a></li>
                                    <li><a href="/alquilar/local-comercial">{{ t.menu.local_comercial }}</a></li>
                                    <li><a href="/alquilar/oficina">{{ t.menu.oficina }}</a></li>
                                    <li><a href="/alquilar/penthouses">Penthouses</a></li>
                                    <li><a href="/alquilar/townhouses">Townhouses</a></li>
                                    <li><a href="/alquilar/galpones">Galpones</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a>{{ t.menu.empresa }}</a>
                                <ul class="dropdown arrow-top">
                                    <li><a href="/sobre-nosotros">{{ t.menu.acerca_de }}</a></li>
                                    <li><a href="/contacto">{{ t.menu.contacto }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
    
</div>


    
      {{#if valoracion_enviada}}
        <div class="custom-alert">
          <span class="close-btn" onclick="cerrarAlerta()">&times;</span>
            {{valoracion_enviada}}
        </div>
        <script>
            function cerrarAlerta() {
              var alerta = document.querySelector('.custom-alert');
              alerta.style.animation = 'slideOut 0.5s forwards';

              setTimeout(function() {
                alerta.style.display = 'none';
              }, 500);
            }

            setTimeout(function() {
              cerrarAlerta();
            }, 10000); // Cerrar después de 4 segundos
        </script>
      {{/if}}


    <div  class="site-blocks-cover inner-page-cover-form overlay" style="background-image: url(/images/hero_bg_1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">
          <div  id="sobre-nosotros" class="col-md-10">

            <div id="formulario" style="color: black;" class="signup-container">
              <header class="signup-header">¿Cuánto vale mi propiedad?</header>
              <div class="signup-progress-bar">
                <div id="ubi" class="signup-step">
                  <p class="signup-step-text">Ubicacion</p>
                  <div class="signup-bullet">
                    <span class="signup-bullet-number">1</span>
                  </div>
                  <div class="signup-check fas fa-check"></div>
                </div>
                <div class="signup-step">
                  <p class="signup-step-text">Propiedad</p>
                  <div class="signup-bullet">
                    <span class="signup-bullet-number">2</span>
                  </div>
                  <div class="signup-check fas fa-check"></div>
                </div>
                <div class="signup-step">
                  <p class="signup-step-text">Información</p>
                  <div class="signup-bullet">
                    <span class="signup-bullet-number">3</span>
                  </div>
                  <div class="signup-check fas fa-check"></div>
                </div>
                <div class="signup-step">
                  <p class="signup-step-text">Valorar</p>
                  <div class="signup-bullet">
                    <span class="signup-bullet-number">4</span>
                  </div>
                  <div class="signup-check fas fa-check"></div>
                </div>
              </div>
              <div class="signup-form-outer">
<form action="/venda-su-propiedad" method="post" id="formulario">

    <div class="signup-page signup-slide-page">
        <div class="signup-title">información básica</div>
        <div class="signup-field">
            <div class="signup-label">Ubicación</div>
            <input {{#if errors}}{{#each errors}}{{#eq field "ubicacion"}} style=" border-color: #f30808 !important;" {{/eq}}{{/each}}{{/if}} {{#if datos_formulario}}value="{{datos_formulario.ubicacion}}"{{/if}} id="ubicacion" name="ubicacion" placeholder="Estado, municipio, ciudad o localidad" type="text">
        </div>
              {{#if errors}}
                {{#each errors}}
                  {{#eq field "ubicacion"}}
                    <br>
                    <div id="alerta" style="padding: 11px; margin-top: -63px;" class="alert">
                      <strong>{{message}}</strong>
                    </div>
                  {{/eq}}
                {{/each}}
              {{/if}}
        <div class="signup-field">
            <div class="signup-label">Número de casa</div>
            <input {{#if errors}}{{#each errors}}{{#eq field "numeroCasa"}} style=" border-color: #f30808 !important;" {{/eq}}{{/each}}{{/if}} {{#if datos_formulario}}value="{{datos_formulario.numeroCasa}}"{{/if}} id="numeroCasa" name="numeroCasa" placeholder="Número de casa" type="number">
        </div>
              {{#if errors}}
                {{#each errors}}
                  {{#eq field "numeroCasa"}}
                    <br>
                    <div id="alerta" style="padding: 11px; margin-top: -63px;" class="alert">
                      <strong>{{message}}</strong>
                    </div>
                  {{/eq}}
                {{/each}}
              {{/if}} 
        <div style="display: inline-block;" class="signup-field">
            <button class="signup-firstNext signup-next">Siguiente</button>
        </div>
    </div>

    <div class="signup-page">
        <div class="signup-title">Tipo de propiedad:</div>
        <div class="signup-field">
            <div class="signup-label">Propiedad</div>
            
            <select name="tipoPropiedad" id="tipoPropiedad" onchange="toggleDiv()">
                <option {{#if errors}} {{#eq datos_formulario.tipoPropiedad "apartamento"}} selected {{/eq}}{{/if}}  value="apartamento" >Apartamento</option>
                <option {{#if errors}} {{#eq datos_formulario.tipoPropiedad "casa"}} selected {{/eq}}{{/if}} value="casa">Casa</option>
            </select>
        </div>

        <div id="one">
            <div class="signup-field">
                <div class="signup-label">Planta del apartamento</div>
                <input {{#if errors}}{{#each errors}}{{#eq field "plantaApartamento"}} style=" border-color: #f30808 !important;" {{/eq}}{{/each}}{{/if}} {{#if datos_formulario}}value="{{datos_formulario.plantaApartamento}}"{{/if}} id="plantaApartamento" name="plantaApartamento" placeholder="Planta del apartamento" type="number">
            </div>
              {{#if errors}}
                {{#each errors}}
                  {{#eq field "plantaApartamento"}}
                    <br>
                    <div id="alerta" style="padding: 11px; margin-top: -63px;" class="alert">
                      <strong>{{message}}</strong>
                    </div>
                  {{/eq}}
                {{/each}}
              {{/if}} 
            <div class="signup-field">
                <div class="signup-label">Puerta / Bloque (opcional)</div>
                <input {{#if errors}}{{#each errors}}{{#eq field "puertaBloque"}} style=" border-color: #f30808 !important;" {{/eq}}{{/each}}{{/if}} {{#if datos_formulario}}value="{{datos_formulario.puertaBloque}}"{{/if}} id="puertaBloque" name="puertaBloque" placeholder="Puerta / Bloque (opcional)" value="" type="number">
            </div>
              {{#if errors}}
                {{#each errors}}
                  {{#eq field "puertaBloque"}}
                    <br>
                    <div id="alerta" style="padding: 11px; margin-top: -63px;" class="alert">
                      <strong>{{message}}</strong>
                    </div>
                  {{/eq}}
                {{/each}}
              {{/if}} 
            <div class="signup-field">
                <div class="signup-label">Superficie construida</div>
                <input {{#if errors}}{{#each errors}}{{#eq field "superficieConstruidaApartamento"}} style=" border-color: #f30808 !important;" {{/eq}}{{/each}}{{/if}} {{#if datos_formulario}}value="{{datos_formulario.superficieConstruidaApartamento}}"{{/if}} id="superficieConstruidaApartamento" name="superficieConstruidaApartamento" placeholder="Superficie construida" type="number">
            </div>
              {{#if errors}}
                {{#each errors}}
                  {{#eq field "superficieConstruidaApartamento"}}
                    <br>
                    <div id="alerta" style="padding: 11px; margin-top: -63px;" class="alert">
                      <strong>{{message}}</strong>
                    </div>
                  {{/eq}}
                {{/each}}
              {{/if}} 
        </div>

        <div id="dos">                      
            <div class="signup-field">
                <div class="signup-label">Superficie construida</div>
                <input {{#if errors}}{{#each errors}}{{#eq field "superficieConstruida"}} style=" border-color: #f30808 !important;" {{/eq}}{{/each}}{{/if}} {{#if datos_formulario}}value="{{datos_formulario.superficieConstruida}}"{{/if}} id="superficieConstruida" name="superficieConstruida" placeholder="Superficie construida" type="number">
            </div>
            {{#if errors}}
                {{#each errors}}
                  {{#eq field "superficieConstruida"}}
                    <br>
                    <div id="alerta" style="padding: 11px; margin-top: -63px;" class="alert">
                      <strong>{{message}}</strong>
                    </div>
                  {{/eq}}
                {{/each}}
              {{/if}}
            <div class="signup-field">
                <div class="signup-label">Área del terreno</div>
                <input {{#if errors}}{{#each errors}}{{#eq field "areaTerreno"}} style=" border-color: #f30808 !important;" {{/eq}}{{/each}}{{/if}} {{#if datos_formulario}}value="{{datos_formulario.areaTerreno}}"{{/if}} id="areaTerreno" name="areaTerreno" placeholder="Tamaño del terreno" type="number">
            </div>

            {{#if errors}}
                {{#each errors}}
                  {{#eq field "areaTerreno"}}
                    <br>
                    <div id="alerta" style="padding: 11px; margin-top: -63px;" class="alert">
                      <strong>{{message}}</strong>
                    </div>
                  {{/eq}}
                {{/each}}
              {{/if}}
        </div>

        <div style="display: flex; justify-content: space-between; display: inline-block;" class="signup-field signup-btns">
            <button class="signup-prev-1 signup-prev">Anterior</button>
            <button class="signup-next-1 signup-next">Siguiente</button>
        </div>
    </div>

    <div class="signup-page apartamento-page">
        <div class="signup-title">Introduzca la siguiente información:</div>
        <div class="signup-field">
            <div class="signup-label">Número de habitaciones</div>
            <input {{#if errors}}{{#each errors}}{{#eq field "numHabitaciones"}} style=" border-color: #f30808 !important;" {{/eq}}{{/each}}{{/if}} {{#if datos_formulario}}value="{{datos_formulario.numHabitaciones}}"{{/if}} id="numHabitaciones" name="numHabitaciones" placeholder="Número de habitaciones" type="number">
        </div>
        {{#if errors}}
                {{#each errors}}
                  {{#eq field "numHabitaciones"}}
                    <br>
                    <div id="alerta" style="padding: 11px; margin-top: -63px;" class="alert">
                      <strong>{{message}}</strong>
                    </div>
                  {{/eq}}
                {{/each}}
              {{/if}}
        <div class="signup-field">
            <div class="signup-label">Número de baños</div>
            <input {{#if errors}}{{#each errors}}{{#eq field "numBanios"}} style=" border-color: #f30808 !important;" {{/eq}}{{/each}}{{/if}} {{#if datos_formulario}}value="{{datos_formulario.numBanios}}"{{/if}} id="numBanios" name="numBanios" placeholder="Número de baños" type="number">
        </div>
        {{#if errors}}
                {{#each errors}}
                  {{#eq field "numBanios"}}
                    <br>
                    <div id="alerta" style="padding: 11px; margin-top: -63px;" class="alert">
                      <strong>{{message}}</strong>
                    </div>
                  {{/eq}}
                {{/each}}
              {{/if}}
        <div class="signup-field">
            <div class="signup-label">Estado de la propiedad</div>
            <select name="EstadoPropiedad" id="EstadoPropiedad">
                <option {{#if errors}} {{#eq datos_formulario.EstadoPropiedad "Obra nueva"}} selected {{/eq}}{{/if}} value="Obra nueva">Obra nueva</option>
                <option {{#if errors}} {{#eq datos_formulario.EstadoPropiedad "Buen estado"}} selected {{/eq}}{{/if}} value="Buen estado">Buen estado</option>
                <option {{#if errors}} {{#eq datos_formulario.EstadoPropiedad "A reformar"}} selected {{/eq}}{{/if}} value="A reformar">A reformar</option>
            </select>
        </div>

<div class="signup-field">    
    <div class="signup-label">Seleccione las características</div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="caracteristica" value="Piscina" 
        {{#if errors}} {{#if (includes datos_formulario.caracteristica "Piscina")}} checked {{/if}} {{/if}}>
        <label class="form-check-label" for="inlineCheckbox1">Piscina</label>
    </div>
    
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="caracteristica" value="Terraza" 
        {{#if errors}} {{#if (includes datos_formulario.caracteristica "Terraza")}} checked {{/if}} {{/if}}>
        <label class="form-check-label" for="inlineCheckbox2">Terraza</label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="caracteristica" value="Garaje" 
        {{#if errors}} {{#if (includes datos_formulario.caracteristica "Garaje")}} checked {{/if}} {{/if}}>
        <label class="form-check-label" for="inlineCheckbox3">Garaje</label>
    </div>
</div>

        <div style="display: flex; justify-content: space-between; display: inline-block;" class="signup-field signup-btns">
            <button class="signup-prev-2 signup-prev">Anterior</button>
            <button class="signup-next-2 signup-next">Siguiente</button>
        </div>
    </div>

    <div class="signup-page">
        <div class="signup-title">¿Cómo podemos contactarle?</div>
        <div class="espacios signup-field">
            <div style="display: contents;" class="form-row ">
                <div class="form-group col">
                    <div class="signup-label">Nombre</div>
                    <input {{#if errors}}{{#each errors}}{{#eq field "nombre"}} style=" border-color: #f30808 !important;" {{/eq}}{{/each}}{{/if}} {{#if datos_formulario}}value="{{datos_formulario.nombre}}"{{/if}} id="nombre" name="nombre" placeholder="Nombre" type="text">
                {{#if errors}}
                {{#each errors}}
                  {{#eq field "nombre"}}
                    <br>
                    <div id="alerta" style="padding: 8px; margin-top: 7px;" class="alert">
                      <strong>{{message}}</strong>
                    </div>
                  {{/eq}}
                {{/each}}
              {{/if}}                    
                </div>

                <div class="form-group col">
                    <div style="display: inline-block;" class="signup-label">Apellidos</div>
                    <input {{#if errors}}{{#each errors}}{{#eq field "Apellidos"}} style=" border-color: #f30808 !important;" {{/eq}}{{/each}}{{/if}} {{#if datos_formulario}}value="{{datos_formulario.Apellidos}}"{{/if}} id="Apellidos" name="Apellidos" type="text" placeholder="Apellidos">
                {{#if errors}}
                {{#each errors}}
                  {{#eq field "Apellidos"}}
                    <br>
                    <div id="alerta" style="padding: 8px; margin-top: 7px;" class="alert">
                      <strong>{{message}}</strong>
                    </div>
                  {{/eq}}
                {{/each}}
              {{/if}}

                </div>

            </div>
        </div>
        <div class="espacios signup-field">
            <div style="display: contents;" class="form-row ">
                <div class="form-group col">
                    <div class="signup-label">Correo</div>
                    <input {{#if errors}}{{#each errors}}{{#eq field "correo"}} style=" border-color: #f30808 !important;" {{/eq}}{{/each}}{{/if}} {{#if datos_formulario}}value="{{datos_formulario.correo}}"{{/if}} id="correo" name="correo" placeholder="Correo" type="email">
                {{#if errors}}
                {{#each errors}}
                  {{#eq field "correo"}}
                    <br>
                    <div id="alerta" style="padding: 8px; margin-top: 7px;" class="alert">
                      <strong>{{message}}</strong>
                    </div>
                  {{/eq}}
                {{/each}}
              {{/if}}

                </div>

                <div class="form-group col">
                    <div style="display: inline-block;" class="signup-label">Teléfono</div>
                    <input {{#if errors}}{{#each errors}}{{#eq field "telefono"}} style=" border-color: #f30808 !important;" {{/eq}}{{/each}}{{/if}} {{#if datos_formulario}}value="{{datos_formulario.telefono}}"{{/if}} id="telefono" name="telefono" type="number" placeholder="Número de teléfono">
                {{#if errors}}
                {{#each errors}}
                  {{#eq field "telefono"}}
                    <br>
                    <div id="alerta" style="padding: 8px; margin-top: 7px;" class="alert">
                      <strong>{{message}}</strong>
                    </div>
                  {{/eq}}
                {{/each}}
              {{/if}}

                </div>

            </div>
        </div>

<div class="signup-field">  
  <div class="signup-label">¿Cuándo podemos contactarle?</div>
  
  <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox11" name="contactar" value="Mañana" 
      {{#if errors}} {{#if (includes datos_formulario.contactar "Mañana")}} checked {{/if}} {{/if}}>
      <label class="form-check-label" for="inlineCheckbox11">Mañana</label>
  </div>

  <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox22" name="contactar" value="Tarde" 
      {{#if errors}} {{#if (includes datos_formulario.contactar "Tarde")}} checked {{/if}} {{/if}}>
      <label class="form-check-label" for="inlineCheckbox22">Tarde</label>
  </div>

  <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox33" name="contactar" value="Noche" 
      {{#if errors}} {{#if (includes datos_formulario.contactar "Noche")}} checked {{/if}} {{/if}}>
      <label class="form-check-label" for="inlineCheckbox33">Noche</label>
  </div>
</div>

        {{#if errors}}
                {{#each errors}}
                  {{#eq field "contactar[0]"}}
                    <br>
                    <div id="alerta" style="padding: 11px; margin-top: -63px;" class="alert">
                      <strong>{{message}}</strong>
                    </div>
                  {{/eq}}
                {{/each}}
              {{/if}}


          
        <div class="signup-field" style="display: initial;">  

          <div style="display: flex; justify-content: space-between; display: inline-block;" class="signup-field signup-btns">
              <button class="signup-prev-3 signup-prev">Anterior</button>
              <button type="submit" class="signup-submit">Valorar</button>
          </div>

        </div>  

    </div>

</form>
              </div>
            </div>

           


          </div>
        </div>
      </div>
    </div>



    <br>
    <br>
    <br>

<div style="" class="container">

  <div class="row justify-content-center mb-5">
    <div class="col-md-7 text-center">
      <div class="site-section-title">
        <h2>{{t.section.title}}</h2>
        <br>
        <br>
        <p>{{t.section.description}}</p>
      </div>
    </div>
  </div>

  <div class="container pregun">

    <div style="display: flex; flex-direction: row; -webkit-box-align: center; align-items: center">
      <img style="margin: 0rem 4.375rem 0rem 0rem;" width="15" height="15" src="/images/flecha-correcta-(1).png" alt="checklist icon" class="sc-hRwTwm hWDotO">
      <div class="">
        <a href="{{t.section.link1.href}}" style="font-size: 20px; font-weight: bold; color: #6c757d" class="">{{t.section.link1.text}}</a>
      </div>
    </div>

    <br>

    <div style="display: flex; flex-direction: row; -webkit-box-align: center; align-items: center">
      <img style="margin: 0rem 4.375rem 0rem 0rem;" width="15" height="15" src="/images/flecha-correcta-(1).png" alt="checklist icon" class="sc-hRwTwm hWDotO">
      <div class="">
        <a href="{{t.section.link2.href}}" style="font-size: 20px; font-weight: bold;color: #6c757d" class="">{{t.section.link2.text}}</a>
      </div>
    </div>

    <br>

    <div style="display: flex; flex-direction: row; -webkit-box-align: center; align-items: center">
      <img style="margin: 0rem 4.375rem 0rem 0rem;" width="15" height="15" src="/images/flecha-correcta-(1).png" alt="checklist icon" class="sc-hRwTwm hWDotO">
      <div class="">
        <a href="{{t.section.link3.href}}" style="font-size: 20px; font-weight: bold; color: #6c757d;" class="">{{t.section.link3.text}}</a>
      </div>
    </div>

    <br>

    <div style="display: flex; flex-direction: row; -webkit-box-align: center; align-items: center">
      <img style="margin: 0rem 4.375rem 0rem 0rem;" width="15" height="15" src="/images/flecha-correcta-(1).png" alt="checklist icon" class="sc-hRwTwm hWDotO">
      <div class="">
        <a href="{{t.section.link4.href}}" style="font-size: 20px; font-weight: bold; color: #6c757d;" class="">{{t.section.link4.text}}</a>
      </div>
    </div>

  </div>

</div>


        <br>
    <br>
    <br>

<div class="site-blocks-cover inner-page-cover-dos overlay" style="background-image: url(/images/2.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center justify-content-center text-center">
      <div id="sobre-nosotros" class="col-md-10">
        <h1 class="mb-2">{{t.heading}}</h1>
        <br>
        <br>
        <h3 style="color: aliceblue;" class="mb-2">{{t.subheading}}</h3>
        <br>
        <a href="/alquilar/casa" style="background-color: #F3AA08; border-color: #F3AA08; padding: 12px 80px !important" class="btn btn-primary  py-2 px-4 rounded-0">{{t.button.text}}</a>
      </div>
    </div>
  </div>
</div>


<div id="the-online-valuation" class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 ml-auto" data-aos="fade-up" data-aos-delay="200">
        <div class="site-section-title">
          <h2>{{t.valuation_section.heading}}</h2>
        </div>
        <p class="lead">{{t.valuation_section.lead}}</p>

        <p>{{t.valuation_section.usefulness}}</p>

        <div class="container">
          <p>• {{t.valuation_section.recommendation_1}}</p>
          <p>• {{t.valuation_section.recommendation_2}}</p>
        </div>

        <p>{{t.valuation_section.advice}}</p>
        
        <div class="container">
          <p>• {{t.valuation_section.importance_1}}</p>
          <p>• {{t.valuation_section.importance_2}}</p>
          <p>• {{t.valuation_section.importance_3}}</p>
        </div>
      </div>

      <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
        <img src="images/1.jpeg" alt="Image" class="img-fluid">
      </div>
    </div>
  </div>
</div>

            
    <div style="width: 20% !important;" class="container">
      <hr style="border-color: #F3AA08;">
    </div>

    <br>


<div id="how-is-the-process" class="container">
  <div class="row justify-content-center mb-5">
    <div class="col-md-7 text-center">
      <div class="site-section-title">
        <h2>{{t.process_section.heading}}</h2>
      </div>
    </div>
  </div>

  <div id="proceso-de">
    <div style="display: flex; flex-direction: row; align-items: center">
      <img class="img-img" style="margin: 0rem 4.375rem 0rem 0rem;" width="60" height="60" src="/images/Descripción-el-nmueble.png" alt="checklist icon">
      <div class="">
        <h3 style="font-size: 20px; font-weight: bold;">{{t.process_section.steps.step_1.title}}</h3>
        <p class="p-proceso">{{t.process_section.steps.step_1.description}}</p>
      </div>
    </div>
    <br>

    <div style="display: flex; flex-direction: row; align-items: center">
      <img class="img-img" style="margin: 0rem 4.375rem 0rem 0rem;" width="60" height="60" src="/images/discusion.png" alt="checklist icon">
      <div class="">
        <h3 style="font-size: 20px; font-weight: bold;">{{t.process_section.steps.step_2.title}}</h3>
        <p class="p-proceso">{{t.process_section.steps.step_2.description}}</p>
      </div>
    </div>
    <br>

    <div style="display: flex; flex-direction: row; align-items: center">
      <img class="img-img" style="margin: 0rem 4.375rem 0rem 0rem;" width="60" height="60" src="/images/comprar-casa.png" alt="checklist icon">
      <div class="">
        <h3 style="font-size: 20px; font-weight: bold;">{{t.process_section.steps.step_3.title}}</h3>
        <p class="p-proceso">{{t.process_section.steps.step_3.description}}</p>
      </div>
    </div>
    <br>

    <div style="display: flex; flex-direction: row; align-items: center">
      <img class="img-img" style="margin: 0rem 4.375rem 0rem 0rem;" width="60" height="60" src="/images/prestamo.png" alt="checklist icon">
      <div class="">
        <h3 style="font-size: 20px; font-weight: bold;">{{t.process_section.steps.step_4.title}}</h3>
        <p class="p-proceso">{{t.process_section.steps.step_4.description}}</p>
      </div>
    </div>
  </div>
</div>


  

    <br>

    <div style="width: 20% !important;" class="container">
      <hr style="border-color: #F3AA08;">
    </div>

    <br>


<div id="how-much-does-the-valuation-cost" class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
        <img src="images/3.webp" alt="Image" class="img-fluid">
      </div>
      <div class="col-md-5 ml-auto" data-aos="fade-up" data-aos-delay="200">
        <div class="site-section-title">
          <h2>{{t.valuation_cost.heading}}</h2>
        </div>
        <p class="lead">{{t.valuation_cost.lead}}</p>
      </div>
    </div>
  </div>
</div>

    
    <br>
    <br>

    <div style="width: 20% !important;" class="container">
      <hr style="border-color: #F3AA08;">
    </div>


<div id="faq" class="site-section">
  <div class="container">

    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center">
        <div class="site-section-title">
          <h2>{{t.faq.heading}}</h2>
        </div>
      </div>
    </div>

    <div class="row justify-content-center" data-aos="fade" data-aos-delay="100">
      <div class="col-md-8">
        <div class="accordion unit-8" id="accordion">

          <div class="accordion-item">
            <h3 class="mb-0 heading">
              <a class="btn-block" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">{{t.faq.questions.question_one.title}}<span class="icon"></span></a>
            </h3>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="body-text">
                <p>{{t.faq.questions.question_one.answer}}</p>
              </div>
            </div>
          </div> <!-- .accordion-item -->
          
          <div class="accordion-item">
            <h3 class="mb-0 heading">
              <a class="btn-block" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">{{t.faq.questions.question_two.title}}<span class="icon"></span></a>
            </h3>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="body-text">
                <p>{{t.faq.questions.question_two.answer}}</p>
              </div>
            </div>
          </div> 

          <div class="accordion-item">
            <h3 class="mb-0 heading">
              <a class="btn-block" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">{{t.faq.questions.question_three.title}}<span class="icon"></span></a>
            </h3>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="body-text">
                <p>{{t.faq.questions.question_three.answer}}</p>
              </div>
            </div>
          </div> <!-- .accordion-item -->

          <div class="accordion-item">
            <h3 class="mb-0 heading">
              <a class="btn-block" data-toggle="collapse" href="#collapseFour" role="button" aria-expanded="false" aria-controls="collapseFour">{{t.faq.questions.question_four.title}}<span class="icon"></span></a>
            </h3>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="body-text">
                <p>{{t.faq.questions.question_four.answer}}</p>
              </div>
            </div>
          </div> <!-- .accordion-item -->

          <div class="accordion-item">
            <h3 class="mb-0 heading">
              <a class="btn-block" data-toggle="collapse" href="#collapseFive" role="button" aria-expanded="false" aria-controls="collapseFive">{{t.faq.questions.question_five.title}}<span class="icon"></span></a>
            </h3>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
              <div class="body-text">
                <p>{{t.faq.questions.question_five.answer}}</p>
              </div>
            </div>
          </div> <!-- .accordion-item -->

        </div>
      </div>
    </div>

  </div>
</div>




<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="mb-5">
          <h3 class="footer-heading mb-4">{{t.footer.about_us}}</h3>
          <p>{{t.footer.about_us_description}}</p>
        </div>
      </div>
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="row mb-5">
          <div class="col-md-12">
            <h3 class="footer-heading mb-4">{{t.footer.navigation}}</h3>
          </div>
          <div class="col-md-6 col-lg-6">
            <ul class="list-unstyled">
              <li><a href="/">{{t.footer.nav_home}}</a></li>
              <li><a href="/venda-su-propiedad">{{t.footer.nav_sell_property}}</a></li>
              <li><a href="/sobre-nosotros">{{t.footer.nav_about_us}}</a></li>
              <li><a href="/contacto">{{t.footer.nav_contact}}</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h3 class="footer-heading mb-4">{{t.footer.follow_us}}</h3>
        <div>
          <a href="{{t.footer.instagram}}" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
        </div>
      </div>
    </div>
    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <p>
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> PEVITE Tecnología. {{t.footer.derechos_reservados}} by <a href="https://pevite.com.ve/" target="_blank" >PEVITE</a> <i class="icon-heart text-danger" aria-hidden="true"></i>
        </p>
      </div>
    </div>
  </div>
</footer>




<script>
        document.addEventListener("DOMContentLoaded", function () {
            toggleDiv();
            document.getElementById("tipoPropiedad").addEventListener("change", toggleDiv);
        });

        function toggleDiv() {
            var tipoPropiedad = document.getElementById("tipoPropiedad").value;
            var oneDiv = document.getElementById("one");
            var dosDiv = document.getElementById("dos");

            if (tipoPropiedad === "apartamento") {
                oneDiv.style.display = "block";
                dosDiv.style.display = "none";
            } else if (tipoPropiedad === "casa") {
                oneDiv.style.display = "none";
                dosDiv.style.display = "block";
            }
        }

        
    </script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Espera 500 milisegundos antes de desplazarte hacia la sección "busqueda"
        setTimeout(function() {
            document.getElementById("formulario").scrollIntoView({ behavior: "smooth" });
        }, 100);
    });
</script>






<script src="/assets/frontend/form/script.js"></script>
{{> "frontend/componentes/scripts" }}